{{define "footer"}}
<tr>
  <td width="100%" style="padding-left: 40px; padding-right: 40px">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td
          height="40"
          style="height: 40px; min-height: 40px; line-height: 40px"
        ></td>
      </tr>
      <tr>
        <td>
          <div style="line-height: 24px; text-align: center">
            <span
              style="
                color: {{ .AvgColor}};
                font-family: Mada, Arial, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
              "
              >To get in touch with us, contact us at </span
            ><a
              style="
                color: {{ .AvgColor}};
                font-family: Mada, Arial, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                text-decoration: underline;
              "
              href="mailto:support@colosach.com"
            >
              <span>support@colosach.com</span></a
            ><span
              style="
                color: {{ .AvgColor}};
                font-family: Mada, Arial, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
              "
              >.</span
            >
          </div>
        </td>
      </tr>
      <tr>
        <td
          height="4"
          style="height: 4px; min-height: 4px; line-height: 4px"
        ></td>
      </tr>
      <tr>
        <td>
          <div style="line-height: 24px; text-align: center">
            <span
              style="
                color: {{ .AvgColor}};
                font-weight: 500;
                font-family: Mada, Arial, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
              "
              >Copyright © ColoSach {{ .Year}}. All rights reserved.</span
            >
          </div>
        </td>
      </tr>
      <tr>
        <td
          height="4"
          style="height: 4px; min-height: 4px; line-height: 4px"
        ></td>
      </tr>
      <tr>
        <td>
          <div style="line-height: 24px; text-align: center">
            <span
              style="
                color: {{ .AvgColor}};
                font-family: Mada, Arial, sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
              "
              >This is a mandatory "system notification" that you cannot
              unsubscribe from.</span
            >
          </div>
        </td>
      </tr>
      <tr>
        <td
          height="40"
          style="height: 40px; min-height: 40px; line-height: 40px"
        ></td>
      </tr>
    </table>
  </td>
</tr>
{{end}}
