{{template "base" .}} {{define "content"}}
<tr>
  <td width="720">
    <table cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td
          width="640"
          align="center"
          style="
            background-color: #f5f5f5;
            padding-left: 40px;
            padding-right: 40px;
          "
          bgcolor="#f5f5f5"
        >
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td
                height="40"
                style="height: 40px; min-height: 40px; line-height: 40px"
              ></td>
            </tr>
            <tr>
              <td
                width="100%"
                style="
                  vertical-align: bottom;
                  padding-left: 40px;
                  padding-right: 40px;
                "
              >
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td
                      height="40"
                      style="height: 40px; min-height: 40px; line-height: 40px"
                    ></td>
                  </tr>
                  <tr>
                    <td style="vertical-align: bottom" width="190">
                      <img
                        src="https://colosach.com/email/logo.png"
                        width="190"
                        border="0"
                        style="
                          min-width: 190px;
                          width: 190px;
                          height: auto;
                          display: block;
                        "
                      <img/>
                    </td>
                    <td> </td>
                    <td style="vertical-align: bottom" width="104">
                      <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                          <td
                            width="104"
                            align="center"
                            style="vertical-align: middle"
                          >
                            <table
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr>
                                <td
                                  style="vertical-align: middle"
                                  width="24"
                                  align="center"
                                >
                                  <i class="fa-brands fa-instagram"></i>
                                </td>
                                <td
                                  style="width: 16px; min-width: 16px"
                                  width="16"
                                ></td>
                                <td
                                  style="vertical-align: middle"
                                  width="24"
                                  align="center"
                                >
                                  <i class="fa-brands fa-linkedin-in"></i>
                                </td>
                                <td
                                  style="width: 16px; min-width: 16px"
                                  width="16"
                                ></td>
                                <td
                                  style="vertical-align: middle"
                                  width="24"
                                  align="center"
                                >
                                  <i class="fa-brands fa-x-twitter"></i>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      height="40"
                      style="height: 40px; min-height: 40px; line-height: 40px"
                    ></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" height="200px" align="center">
                <img
                  src="{{ .BannerImageUrl}}"
                  width="640"
                  border="0"
                  style="width: 100%; height: auto; display: block"
                />
              </td>
            </tr>
            <tr>
              <td
                width="100%"
                class="zRJJe3AuXL4vBFkjQqPcYBl4EOOLxS invert-bg"
                style="
                  background-repeat: no-repeat !important;
                  background-position: center center !important;
                  background-size: cover !important;
                  border-collapse: separate !important;
                  padding-left: 40px;
                  padding-right: 40px;
                "
                background="zRJJe3AuXL4vBFkjQqPcYBl4EOOLxS.png"
              >
                <div>
                  <!--  -->
                  <table
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tr>
                      <td
                        height="24"
                        style="
                          height: 24px;
                          min-height: 24px;
                          line-height: 24px;
                        "
                      ></td>
                    </tr>
                    <tr>
                      <td>
                        <div style="line-height: 40px; text-align: left">
                          <span
                            style=" color: {{ .AvgColor}};
                              font-weight: 700;
                              font-family: Mada, Arial, sans-serif;
                              font-size: 32px;
                              line-height: 40px;
                              text-align: left;
                            "
                            >Verify your account</span
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        height="24"
                        style="
                          height: 24px;
                          min-height: 24px;
                          line-height: 24px;
                        "
                      ></td>
                    </tr>
                  </table>
                </div>
                <!--[if gte mso 9]>
        </v:textbox>
        </v:fill>
        </v:rect>
        </v:image>
        <![endif]-->
              </td>
            </tr>
            <tr>
              <td width="100%">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tr>
                    <td
                      width="100%"
                      style="
                        background-color: #ffffff;
                        padding-left: 40px;
                        padding-right: 40px;
                      "
                      bgcolor="#ffffff"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr>
                          <td
                            height="40"
                            style="
                              height: 40px;
                              min-height: 40px;
                              line-height: 40px;
                            "
                          ></td>
                        </tr>
                        <tr>
                          <td>
                            <div style="line-height: 24px; text-align: left">
                              <span
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                "
                                >Hi {{ .Username}},<br /><br />To ensure the
                                security of your account, please click the
                                button below to verify your email address.</span
                              >
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td
                            height="24"
                            style="
                              height: 24px;
                              min-height: 24px;
                              line-height: 24px;
                            "
                          ></td>
                        </tr>
                        <tr>
                          <td width="100%" align="center">
                            <table
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr>
                                <td
                                  width="100%"
                                  style="
                                    vertical-align: middle;
                                    border: 2px solid {{.AvgColor}};
                                    padding-left: 24px;
                                    padding-right: 24px;
                                  "
                                >
                                  <table
                                    width="100%"
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                  >
                                    <tr>
                                      <td
                                        height="16"
                                        style="
                                          height: 16px;
                                          min-height: 16px;
                                          line-height: 16px;
                                        "
                                      ></td>
                                    </tr>

                                    <tr>
                                      <td style="vertical-align: middle">
                                        <a href="{{.URL}}">
                                          <div
                                            style="
                                              line-height: 24px;
                                              text-align: left;
                                            "
                                          >
                                            <span
                                              style="
                                                color: {{.AvgColor}};
                                                font-weight: 700;
                                                font-family: Mada, Arial,
                                                  sans-serif;
                                                font-size: 16px;
                                                letter-spacing: 0.04em;
                                                line-height: 24px;
                                                text-align: left;
                                              "
                                              >Verify email address</span
                                            >
                                          </div></a
                                        >
                                      </td>
                                      <td> </td>
                                      <td
                                        style="vertical-align: middle"
                                        width="16"
                                      >
                                        <i class="fa-solid fa-arrow-right"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        height="16"
                                        style="
                                          height: 16px;
                                          min-height: 16px;
                                          line-height: 16px;
                                        "
                                      ></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  height="16"
                                  style="
                                    height: 16px;
                                    min-height: 16px;
                                    line-height: 16px;
                                  "
                                ></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td
                            height="24"
                            style="
                              height: 24px;
                              min-height: 24px;
                              line-height: 24px;
                            "
                          ></td>
                        </tr>
                        <tr>
                          <td>
                            <div style="line-height: 24px; text-align: left">
                              <span
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                "
                                >Once verified, you'll gain full access to all
                                the features and functionalities of ColoSach.<br /><br />If
                                you didn't request this verification, please
                                disregard this email.<br /><br />Thank you for
                                choosing ColoSach!<br /><br />Best regards,<br />The
                                ColoSach Team</span
                              >
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td
                            height="40"
                            style="
                              height: 40px;
                              min-height: 40px;
                              line-height: 40px;
                            "
                          ></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <!-- <td width="640" align="center">
                <img
                  src="hsiyU5qqfUKXxHWvi2EIkm3S1bB7H7.png"
                  width="640"
                  border="0"
                  style="width: 100%; height: auto; display: block"
                />
              </td> -->
              <br />
            </tr>
            <tr>
              <td width="100%">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tr>
                    <td
                      width="100%"
                      style="
                        background-color: #ffffff;
                        padding-left: 40px;
                        padding-right: 40px;
                      "
                      bgcolor="#ffffff"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr>
                          <td
                            height="40"
                            style="
                              height: 40px;
                              min-height: 40px;
                              line-height: 40px;
                            "
                          ></td>
                        </tr>
                        <tr>
                          <td>
                            <div style="line-height: 24px; text-align: left">
                              <span
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                "
                                >Photo by </span
                              ><a
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                  text-decoration: underline;
                                "
                                href="{{ .PhotographerUrl}}"
                              >
                                <span>{{ .PhotographerName}}</span></a
                              ><span
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                "
                              >
                                on </span
                              ><a
                                style="
                                  color: {{ .AvgColor}};
                                  font-family: Mada, Arial, sans-serif;
                                  font-size: 16px;
                                  line-height: 24px;
                                  text-align: left;
                                  text-decoration: underline;
                                "
                                href="{{ .ImageUrl}}"
                              >
                                <span>Pexels</span></a
                              >
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td
                            height="40"
                            style="
                              height: 40px;
                              min-height: 40px;
                              line-height: 40px;
                            "
                          ></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- start footer -->
            {{ block "footer" .}} {{end}}
            <!-- end footer -->
            <tr>
              <td
                height="40"
                style="height: 40px; min-height: 40px; line-height: 40px"
              ></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
{{end}}
